<!DOCTYPE html>
<html>
  <head>
    <title>Stock</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'nav' %>
    <div class = "container-fluid">
      <div class="row">
        <div class="col">
          <%= yield %>          
          
        </div>
      </div>
      
    </div>

  <nav class="navbar fixed-bottom navbar-light bg-faded">
    <span class="navbar-text">
        (c) 2017 Galvanize, Inc.(hello)
    </span>
  </nav>

  </body>
</html>
